



<div style="margin: 20px;">
  <form method="POST" action="/new">

<div class="container">
<div class="main">
  <!-- <br><label>MAC address</label><br>
<br><input type="text" name="MAC address"><br>
<br><label>Host Name</label><br>
<br><input type="text" name="Host Name"><br>
<br><label>User Name</label><br>
<br><input type="text" name="User Name"><br>
<br><label>Password </label><br>
<br><input type="password" name="password"><br>
<br><label>Default Schema</label><br>
<input type="text" name="Default Schema"><br>
<br> -->

<mat-form-field >
  <input matInput placeholder="MAC Address " >
</mat-form-field><br>
<mat-form-field >
  <input matInput placeholder="Host Name " >
</mat-form-field><br>
<mat-form-field >
  <input matInput placeholder="User Name" >
</mat-form-field><br>

<mat-form-field >
  <input matInput placeholder="Password" >
</mat-form-field><br>
<mat-form-field >
  <input matInput placeholder="Default Schema " >
</mat-form-field><br>

<button type="submit" >
  Submit
</button>


</div>



</div>
</div>
