button{
font-size: 12px;

background-color: #0d11ec;
color: rgb(255, 255, 255);
font-weight: bold;
cursor: pointer;
width: 9%;
border-radius: 5px;
padding: 15px 15px;
border: 0;
outline:none;
transition: .4s;

}
button:hover{

background-color: white;
color: #0d11ec;
border:2px solid  #0d11ec;
}
