<div class="container">
  <h2>Dropdowns</h2>
                                        
  <div class="dropdown">
    <!-- <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul> -->


    <mat-form-field >
  <input matInput placeholder="Insert Happy Quotes " >
</mat-form-field>    <button  (click)="login()" >Submit</button><br>
  </div>
</div>

